<%= form_for([@image, @access], class: 'form-vertical') do |f| %>
  <% if @access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access.errors.count, "error") %> prohibited this access from being saved:</h2>
      <ul>
      <% @access.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
<select name="user_id">
<% @ineligible_users.each do |u| %>
  <option style="color: black" value=<%=u.id%>> <%=u.name + u.email %></option>
<% end %>
</select>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
