<h1>Listing images</h1>


    <% @images.each do |image| %>
        <div><%= image.description %></div>
        <div><%= image_tag root_url + "/images/" + image.filename, size: '100x100', alt: image.filename %></div>
        <div>
        <span><%= link_to (raw("<i class='fa fa-search'></i>")), image %></span>
        <span><%= link_to (raw("<i class='fa fa-edit'></i>")), edit_image_path(image) %></span>
        <span><%= link_to (raw("<i class='fa fa-remove'></i>")), image, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
    <% end %>

<br>

<%= link_to 'New Image', new_image_path %>
<%= link_to 'Back', family_path(@images.first.family) %>
