<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @member.description %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @member.dob %>
</p>

<p>
  <strong>Member Family:</strong>
  <%= @member.family %>
</p>

<%= link_to 'Add Relationship', new_member_relationship_path(params[:id]) %>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', family_path(@member.family_id) %>
