<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @member.description %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @member.dob %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
