<div class="container">
<h1>Listing images</h1> 
    <% @images.each do |image| %>
      
      <% if((user_signed_in? && current_user == image.user) || image.public_private) %>
    
  <div class="picture col-lg-1"> 
        <td><%= image.user.name %></td>
	<td><% image.tags.each do |tag| %>
	  <span><%= tag.tag_string %>
	<% end %></td>
       
        <td><%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
        <% #if user_signed_in? %> 

        <% if image.user == current_user %> 
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%# end %>  
        
      <% end %>
     
      <% end %>
     </div>

    <% end %>
</div>
<% if user_signed_in? %>
<%= link_to 'New Image', new_image_path %> 
<% end %>

</div>
<br>

