<h1>Listing images</h1>

<table>
  <thead>
    <tr>  
      <th>User</th>     
      <th>Tags</th>
     `<th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      
      <% if((user_signed_in? && current_user == image.user) || image.public_private) %>
    
      <tr>
        <td><%= image.user.name %></td>
	<td><% image.tags.each do |tag| %>
	  <span><%= tag.tag_string %>
	<% end %></td>
        <td><%= image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename %>
        <% #if user_signed_in? %>
        <td><%= link_to 'Show', image %></td>
        <% if image.user == current_user %> 
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%# end %>  
      <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Image', new_image_path %> 
<% end %>
