<p id="notice"><%= notice %></p>

<p><strong>User</strong></p>
 <p><%= @image.user.name %></p>
<p><strong>Tags</strong></p> 
 <p><% @image.tags.each do |tag| %>
    <span><%= tag.tag_string %> </span>
 <% end %>
 </p>
<p><%= image_tag root_url + "/images/" + @image.filename, size: "100x100", alt: @image.filename %></p>


 <% if @image.user == current_user %>
   <%= render 'form' %>
   <p><%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %></p>
 <% end %>

<%= link_to 'Back', images_path %>
