<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @family.name %>
</p>
<ul>
  <% @family.members.each do |member| %>
    <% if !member.new_record? %>
       <li>
        <%= link_to member.name, member_path(member) %>
      </li>
    <% end %>
  <% end %>
</ul>
<div>
  <%= image_tag root_url + "/images/" + @family.images[0].filename, size: "100x100", alt: @family.images[0].filename %>
  <%= @family.name %><br>
  <%= link_to 'Show', @family.images[0] %>
  <%= link_to 'Edit', edit_image_path(@family.images[0]) %>
  <%= link_to 'Destroy', @family.images[0], method: :delete, data: { confirm: 'Are you sure?' } %>

</div>

<%= link_to 'Add member to family',  new_family_member_path(params[:id]) %>
<%= link_to 'Create new event', new_family_event_path(params[:id]) %>
<%= link_to 'View Events', family_events_path(params[:id]) %>
<%= link_to 'View family members', family_events_path(params[:id]) %>
<%= link_to 'View family images', family_images_path(params[:id]) %>
<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>

