<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @milestone.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @milestone.name %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', member_milestones_path(@milestone.member) %>
